snippet node
	"${0:node_id}": {
	  "Id": "$0",
	  "OnEnter": { "Type": "None" },
	  "Transitions": []
	},
snippet msg
	{ "msgId": "RawTextChannelMessage", "text": "${0:text}" }
snippet tr
	{
	  "Condition": { "Type": "MessageType", "AllowedTypes": ["RecognizedSpeechMessage"] },
	  "Id": "${0:dest}",
	  "Priority": 0
	}
